<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice Grouping Data with Pandas

_Authors: Kiefer Katovich (SF), Dave Yerrington (SF), Mario Carrillo (SF)_

---

You are going to investigate UFO sightings around the US.  This lab will give you practice performing `groupby` operations to split data along multiple dimensions and investigate patterns between subsets of the data using basic aggregation.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

#### 1. Load and print the header for the UFO data.

In [3]:
ufo_csv = './datasets/ufo.csv'

In [5]:
# A:
ufo = pd.read_csv(ufo_csv)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

#### 2. How many null values exist per column?

In [80]:
# A:
ufo.isnull().sum()

City                  47
Colors Reported    63509
Shape Reported      8402
State                  0
Time                   0
dtype: int64

#### 3. Which city has the most observations?

In [86]:
# A:
ufo.groupby(["City"]).size().sort_values(ascending=False).head(10)

City
Seattle          646
New York City    612
Phoenix          533
Las Vegas        442
Portland         438
Los Angeles      416
San Diego        401
Houston          340
Chicago          337
Miami            279
dtype: int64

#### 4. What is the observation count per shape?

In [57]:
# A:
ufo.groupby(["Shape Reported"]).size()

Shape Reported
CHEVRON        940
CIGAR         1983
CIRCLE        7725
CONE           310
CRESCENT         2
CROSS          241
CYLINDER      1252
DELTA            7
DIAMOND       1152
DISK          5226
DOME             1
EGG            733
FIREBALL      6249
FLARE            1
FLASH         1329
FORMATION     2405
HEXAGON          1
LIGHT        16332
OTHER         5506
OVAL          3721
PYRAMID          1
RECTANGLE     1295
ROUND            2
SPHERE        5231
TEARDROP       723
TRIANGLE      7816
VARIOUS       1957
dtype: int64

#### 5. Create a subset of the data that is the top 5 cities and the top 5 shapes.

In [77]:
# A:
top_cities = ufo.groupby(["City"]).size().reset_index(name='counts').sort_values("counts", ascending=False).head(5)
top_shapes = ufo.groupby(["Shape Reported"]).size().reset_index(name='counts').sort_values("counts", ascending=False).head(5)

top_cities_shapes = pd.concat([top_cities,top_shapes ])
top_cities_shapes

                City Shape Reported  counts
10778        Seattle            NaN     646
8277   New York City            NaN     612
9330         Phoenix            NaN     533
6412       Las Vegas            NaN     442
9647        Portland            NaN     438
17               NaN          LIGHT   16332
25               NaN       TRIANGLE    7816
2                NaN         CIRCLE    7725
12               NaN       FIREBALL    6249
18               NaN          OTHER    5506

#### 6. With the subset, find the percent of each shape seen by city.

In [8]:
# A:

**7. Make a grouped bar chart with your subset data showing counts of shapes seen by city.**

In [9]:
# A: